<div class="about">
    <h2>About us</h2>
    <p>We are two students at Isen Toulon. Was made this project for an Angular course.</p>
    <div class="aboutUs">
        <div class="description">
            <p>Remi VASSOILLE</p>
            <img [src]="'/assets/rickRemi.jpeg'" class="profilePicture">
            <p>Master 1 in software engineering</p>
            <p>remi.vassoille@isen.yncrea.fr</p>
            <a href="https://www.linkedin.com/in/remi-vassoille/">LinkedIn</a>
        </div>
        <div class="description">
            <p>Julien REPPLINGER</p>
            <img [src]="'/assets/rickJulien.jpeg'" class="profilePicture">
            <p>Master 1 in software engineering</p>
            <p>julien.repplinger@isen.yncrea.fr</p>
            <a href="https://www.linkedin.com/in/julien-repplinger/">LinkedIn</a>
        </div>
    </div>
</div>