<app-header></app-header>
<ng-container *ngIf="home">
    <div class="home">
        <h1>Welcome to the Rick and Morty website</h1>
        <p>You will find here all the characters, all the locations and all the episodes of the first 
            5 season of Rick and Morty.
        </p>
        <p>This website was made using the <a href="https://rickandmortyapi.com/">Rick and Morty API</a>.
            This API provides images only for characters, so locations and episodes will only have a generic image.
        </p>
        <p>Enjoy your discovery of this website</p>
        <img [src]="'/assets/rickInField.jpeg'">
    </div>
</ng-container>
<app-body></app-body>